---
import ComponentIcon from "@assets/icons/ComponentIcon.astro";
import PluginIcon from "@assets/icons/PluginIcon.astro";
import TemplateIcon from "@assets/icons/TemplateIcon.astro";
import LayoutBase from "@layouts/LayoutBase.astro";

const iconSize = 72;
---

<LayoutBase
	title="Welcome to my TailwindCSS tools"
	description="A simple website where I showcase some tools for the TailwindCSS library."
	canonical="/"
>
	<h1>Welcome to my <span>TailwindCSS</span> tools</h1>

	<div class="boxes">
		<a href="/plugins">
			<PluginIcon
				height={iconSize}
				width={iconSize}
			/>
			<span>Plugins</span>
		</a>
		<a href="#">
			<ComponentIcon
				height={iconSize}
				width={iconSize}
			/>
			<span>Components</span>
		</a>
		<a href="#">
			<TemplateIcon
				height={iconSize}
				width={iconSize}
			/>
			<span>Templates</span>
		</a>
	</div>
</LayoutBase>
<style>
	h1 {
		font-family: var(--font-serif);
		@apply lg:!text-7xl !text-4xl lg:max-w-[60%] max-w-[80%] mx-auto drop-shadow-md my-10;
	}
	h1 > span {
		@apply text-sky-500 text-[110%] inline-block;
	}
	.boxes {
		@apply grid grid-cols-1 gap-5 lg:grid-cols-3 m-auto;
	}
	.boxes > a {
		@apply p-7 rounded-lg border border-zinc-700 flex flex-row items-center space-x-4 text-lg hover:bg-zinc-800 drop-shadow-md;
	}
</style>
